table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td{
    border: 0 solid #dddddd;
    text-align: left;
    padding: 16px;
    line-height: 32px;
  }

  th {
    padding: 10px;
  }
  
  tr:nth-child(even) {
    background-color: #e9e8e8;
  }

  /* Model */

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.right-xl-modal{
    &.modal{
        right: 0 !important;
      //  width: 70% !important;
        left: inherit !important;
    }
    .modal-dialog{
        max-width: 680px !important;
        margin: 0 auto !important;
    }
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -0;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.mx-0{
  margin:0 !important;
}

.px-0{
  padding: 0 !important;
}
.dashboard-main-header{

display: flex;
width: 100%;
flex-direction: row;
justify-content: space-between;
  align-items: center;


}

 .dashboard-logo-n-title-flex
 {     
   display: flex;
  height:100%;

 }


.dashboard-logo{
  width: 42px;
  height: 42px;
  border-radius:50% ;
  object-fit: cover;
 
 }



 .dashboard-title-n-url{
 margin-left:12px;
font-weight: bold;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
  
 }

 .capitalize{
  text-transform: capitalize;
 
 }


.dashboard-url{


  font-size: 12px;
  
}

.edit-btn{
  margin-right: auto;
 
 
}
.marg-left-right{
margin-left: 0;
margin-right: 0;
}

.wid-100{
  width: 100%;
}

// .dashboard-main-header{
//   position: absolute;
//   left: 0%;
//   right: 0%;
//   top: 0%;
//   bottom: 0%;
  
//   background: #FFFFFF;
//   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
// }


// .dashboard-logo{
//   position: absolute;
// left: 0%;
// right: 73.49%;
// top: 0%;
// bottom: 7.35%;

// }


// .dashboard-url{
// /* Content */


// position: absolute;
// left: 6.18%;
// right: 84.31%;
// top: 50%;
// bottom: 28.95%;

// /* Labels/L12 */

// font-family: 'Lato';
// font-style: normal;
// font-weight: 400;
// font-size: 12px;
// line-height: 16px;
// /* identical to box height, or 133% */

// display: flex;
// align-items: center;

// /* Primary/Blue */

// color: #1987B6;

// }

  /* Model ENd */

  @media only screen and (max-width: 576px) {
    
    .dashboard-logo-n-title-flex
    {     
      display: flex;
     height:100%;
     margin-left: 10px;
    }
    .card .card-body.dashboard-main-header{
     height: 100%;
     padding: 0;
     margin: 0;

   }
   
   .dashboard-logo{
     width: 42px;
     height: 42px;
     border-radius:50% ;
     object-fit: cover;
    
    }
    .edit-btn{
      margin-right: 1px;
     
     
    }
    .card .card-body .mt-5 .dashboard-main-header .dashboard-main-header{
   
      width: 100%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 890px) {
    .dashboard-logo-n-title-flex
    {     
      display: flex;
     height:100%;
     margin-left: 10px;
    }
    .card .card-body.dashboard-main-header{
     height: 100%;
     padding: 0;
     margin: 0;

   }
   
   .dashboard-logo{
     width: 42px;
     height: 42px;
     border-radius:50% ;
     object-fit: cover;
    
    }
    .edit-btn{
      margin-right: 1px;
     
     
    }
    .card .card-body .mt-5 .dashboard-main-header .dashboard-main-header{
   
      width: 100%;
    }
  }

  @media (min-width: 890px) and (max-width: 1300px) {
    .dashboard-logo-n-title-flex
    {     
      display: flex;
     height:100%;
     margin-left: 10px;
    }
    .card .card-body.dashboard-main-header{
     height: 100%;
     padding: 0;
     margin: 0;

   }
   
   .dashboard-logo{
     width: 42px;
     height: 42px;
     border-radius:50% ;
     object-fit: cover;
    
    }
    .edit-btn{
      margin-right: 1px;
     
     
    }
    .card .card-body .mt-5 .dashboard-main-header .dashboard-main-header{
   
      width: 100%;
    }
  }