
<div>
    <p class="p16 fw-bold">Issuance VC</p>

   <div class="p-3">


    <button class=" p14 btn btn-sec-bg submit-button text-secondary-color"
    ><i class="fa fa-plus" aria-hidden="true"></i> Add Template</button>
   </div>
    
  
</div>


<div class="mt-5">
    <p class="p16 fw-bold">Attestation VC</p>

    <p class="p16 fw-bold">Select the workflow name (thats previous screen) -> template</p>
    
    <button class=" p14 btn btn-sec-bg submit-button text-secondary-color"
    ><i class="fa fa-plus" aria-hidden="true"></i> Add Template</button>
</div>

<!-- <footer class="footer fixed-bottom">
    <div class="container-fluid">
      <div>
        <button class="btn float-end btn-primary btn-primary-sm px-3 my-2 ml-2">Save and Next</button>

        <button class="btn  float-end btn-primary btn-primary-sm px-3 my-2 ml-2">Save as Draft</button>
  
      </div>
    </div>
  </footer> -->
