<ng-template [ngIf]="isFooter">
  <div class="pt-70"></div>
  <footer class="footer fixed-bottom">
    
        <a class="text-muted fs-7" href="#">&copy; {{footerText}}</a>
     <div>
      <a style="padding-left:22px;" href=""><img src="https://sunbird-certificate-demo.xiv.in/auth/resources/sr2et/login/sunbird-rc/img/twitter.svg" alt=""></a>
      <a style="padding-left:22px;" href=""><img src="https://sunbird-certificate-demo.xiv.in/auth/resources/sr2et/login/sunbird-rc/img/facebook.svg" alt=""></a>
      <a style="padding-left:22px;" href=""><img src="https://sunbird-certificate-demo.xiv.in/auth/resources/sr2et/login/sunbird-rc/img/youtube.svg" alt=""></a>
     </div>
  </footer>
</ng-template>
<router-outlet></router-outlet>
