<div class="card">
    <div class="d-flex flex-justify-between card-body px-4 py-2">
        <a  href="" class="line-height32" onClick="history.go(-1); return false;">
            <i class="fa fa-angle-left primary-text"></i> 
        </a> 
        <div class="heading-2">{{'DOWNLOAD_DOCUMENT' | translate}}</div>
        <div>
            <button class="float-end heading-3 btn btn-sec-bg submit-button">
                <i class="fa fa-download sb-text-primary cursor-pointer" aria-hidden="true" title="Download"></i> {{'DOWNLOAD' | translate}}
            </button>
        </div>
        {{newNameChild}}
</div>

